/* main page */
.quarto-grid-item .listing-title {
    font-size: medium;
    font-weight: bolder;
    line-height: 1.3;
    padding: 0rem 0rem 0.5rem 0rem;
}

.quarto-grid-item .listing-subtitle {
    font-weight: lighter;
    line-height: 1.3;
    padding: 0rem 0rem 0.5rem 0rem;
}

.quarto-grid-item .listing-reading-time {
    font-size: 0.8rem;
    font-weight: lighter;
    opacity: 0.6;
    padding: 0rem 0rem 0.5rem 0rem;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div > h1.title {
  font-weight: bolder;
  line-height: 1.3;
  padding: 0rem 0rem 0.5rem 0rem;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div > p.subtitle.lead {
  font-size: larger;
  font-weight: lighter;
  line-height: 1.5;
}

#title-block-header.quarto-title-block.default .keywords, #title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
  font-size: large;
  font-weight: lighter;
  line-height: 1.3;
  opacity: 0.8;
  padding: 0rem 0rem 0.5rem 0rem;
}


#title-block-header.quarto-title-block.default .quarto-title-meta {
  font-size: large;
  font-weight: lighter;
  line-height: 1.5;
  opacity: 0.8;
}

/* MAIN CONTENT */

main {
  font-size: medium;
  line-height: 1.8;
}

section {
  margin: 2rem 0rem;
}

p blockquote:not(.blockquote) {
  margin: 1rem 0rem;
}

blockquote.blockquote {
  margin: 1rem 0rem;
  padding: 1.5rem 0.5rem 1rem 1.5rem;
  border: 1px solid #ffffff00;
  border-radius: 1rem;
  position: relative;
}

blockquote:after {
  content: "\201C";
  font-size: 76px;
  position: absolute;
  top: -30px;
  left: -10px;
}

#quarto-margin-sidebar.sidebar.margin-sidebar {
  grid-column: body-end-outset/screen-end;
}

div.sourceCode {
  font-size: 0.9rem;
  font-weight: medium;
  margin: 1.5rem 0rem;
  padding: 1rem;
  border: 1px solid #dddddd;
  border-radius: 1rem;
}

h1 code:not(.sourceCode), h2 code:not(.sourceCode), h3 code:not(.sourceCode),
p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0.25px;
  font-weight: bolder;
}

.cell-output.cell-output-display {
  margin: 0.5rem 0rem 1rem 0rem;
  opacity: 0.5;
}

span.math.display {
  padding: 0.25rem;
}
