/*-- scss:defaults --*/


$body-bg: #F0F0F0;
$navbar-bg: #F0F0F0;

$body-color: #4f4f4f;
$navbar-color: #4f4f4f;

$code-block-bg: #FFFFFF66;
$popover-bg: #FFFFFF66;

div.sourceCode {
  background-color: #dddddd;
}

/*-- scss:rules --*/

/*-- scss:mixins --*/

/*-- scss:functions --*/

/*-- scss:uses --*/
